.deps
.gdb_history
.vscode
*.log
*.o
*.trs
aclocal.m4
autom4te.cache
config.aux
config.h
config.h.in
config.status
configure
debian/*.substvars
debian/files
Makefile
Makefile.in
rot13
rot13-*.tar.gz
stamp-h1
test_rot13
