Source: rot13
Section: utils
Priority: optional
Maintainer: Richard Kettlewell <rjk@greenend.org.uk>
Standards-Version: 3.9.2
Homepage: https://github.com/ewxrjk/rot13

Package: rot13
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends}
Description: Small, fast ROT13 implementation.
Conflicts: bsdgames
